<div class="container-lg adjusted-padding">
  <div class="mb-3">
    <%= link_to '< Retour à la liste des articles', admin_articles_path, class: "admin-back-link" %>
  </div>
  <div class="d-flex flex-column align-items-center">
      <%= cl_image_tag @article.photo.key, style: "max-width: 80%;", class: "mb-4" %>

      <h1 class="text-green mb-4"><%= @article.title %></h1>
      <p class="primary-bold mb-4">Publié le : <%= @article.created_at.strftime("%d/%m/%Y") %></p>

      <p><%= @article.content %></p>
  </div>
</div>
