<div class="container-lg min-height-calc">

  <div class="row adjusted-padding">
    <%# Display cards %>
    <div class="col-12 col-md-8">
      <h1 class="text-green mb-4">Nos articles</h1>

      <div class="cards">
        <% if @articles.empty? %>
          Pas d'articles trouvés.
        <% else %>
          <% @articles.each do |article| %>
            <%= button_to article_path(article), class: "card-link mb-4", method: :get do %>
              <div class="article-card">
                <div class="article-card-text">
                  <h3 class="text-green text-clamp-1"><%= article.title %></h3>
                  <p><%= article.content %></p>
                </div>
                <%= cl_image_tag article.photo.key, class: "article-card-image" %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

    <%# Display right Panel %>
    <%= render 'shared/right_panel' %>
    <div class="mt-4 pl-2">
      <%= paginate @articles %>
    </div>
  </div>
</div>
