<div class="navbar navbar-expand-sm navbar-light navbar-soro">
  <%= link_to root_path, class: "navbar-brand" do %>
    <h1 class="text-orange">SoroSoro</h1>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%= "active" if request.fullpath == '/' %>">
        <%= link_to "Accueil", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item <%= "active" if request.fullpath.include?('/articles') %>">
        <%= link_to "Blog", articles_path, class: "nav-link" %>
      </li>
      <li class="nav-item <%= "active" if request.fullpath == '/valeurs' %>">
        <%= link_to "Valeurs", valeurs_path, class: "nav-link" %>
      </li>
      <li class="nav-item <%= "active" if request.fullpath == '/contact' %>">
        <%= link_to "Contact", new_message_path, class: "nav-link" %>
      </li>
      <% if current_user %>
        <li class="nav-item">
          <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "nav-link logout-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
