<div class="col-12 col-md-4">
  <div class="right-panel">

    <%= form_tag articles_path, method: :get, class: "d-none d-md-flex mb-4", id: "search-form" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "right-panel-input",
        placeholder: "Trouver un article"
      %>
      <%= button_tag(type: "submit", class: "btn btn-primary d-flex align-items-center") do %>
        <%= image_tag "loupe.png", width: '20px' %>
      <% end %>
    <% end %>

    <div class="d-none d-md-block last-article">
      <% article = Article.where(displayed: true).last  %>
      <%= link_to article_path(article), class: "card-link" do %>
        <h4 class="text-green text-clamp-1 text-left"><%= article.title %></h4>
        <p>
          <%= article.content %>
        </p>
      <% end %>
    </div>

    <div class="newsletter my-0 my-sm-4">
      <h3 class="text-center text-green my-4">Lettre d'information</h3>
      <%= simple_form_for Contact.new, html: {  class: "d-flex mb-4", id: "newsletter-form" } do |f| %>
        <%= f.input :email, label: false, placeholder: "Votre adresse email", input_html: { class: "right-panel-input" } %>
        <%= f.submit "S'inscrire", class: "btn btn-primary" %>
      <% end %>
    </div>

    <div class="social-medias text-center">
      <a href="https://www.facebook.com/sportresponsable-112477027155896" target="_blank">
        <%= inline_svg_tag('facebook.svg') %>
      </a>
      <a href="https://www.instagram.com/sportresponsable/" target="_blank">
        <%= inline_svg_tag('instagram.svg') %>
      </a>
      <div class="d-none">
        <%= inline_svg_tag('twitter.svg') %>
      </div>
    </div>
  </div>
</div>
