<div class="banner">
  <div class="banner-content">
    <h1 class="text-center text-white">Le sport, autrement.</h1>
    <h2 class="text-center text-white">
      Faire du sport, avec du matériel performant, tout en réduisant notre impact environnemental.
      <br>
      C'est notre engagement.
    </h2>
  </div>
</div>

<div class="container-lg mt-4">

  <div class="row">
    <%# Display cards %>
    <div class="col-12 col-md-8">
      <h1 class="text-green mb-4">Nos derniers articles</h1>

      <div class="home-cards pt-4">
        <% @articles.each do |article| %>
          <%= button_to article_path(article), class: "card-link mb-4" do %>
            <div class="home-card">
              <div class="home-card-text">
                <h3 class="text-clamp-2 text-green text-left"><%= article.title %></h3>
                <p><%= article.content %></p>
              </div>
              <%= cl_image_tag article.photo.key, class: "home-card-image" %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <%# Display right Panel %>
    <%= render 'shared/right_panel' %>
  </div>
</div>

<%# Display Instagram pictures %>
<div class="insta-container d-none">
  <div class="container py-4">
    <h1 class="text-green mb-4">SoroSoro sur Instagram</h1>
    <div class="row justify-content-around">
      <div class="col-6 col-md-4 col-lg-2 d-flex justify-content-center">
        <div class="fake-photo"></div>
      </div>
      <div class="col-6 col-md-4 col-lg-2 d-flex justify-content-center">
        <div class="fake-photo"></div>
      </div>
      <div class="col-6 col-md-4 col-lg-2 d-flex justify-content-center">
        <div class="fake-photo"></div>
      </div>
      <div class="col-6 col-md-4 col-lg-2 d-flex justify-content-center">
        <div class="fake-photo"></div>
      </div>
      <div class="col-6 col-md-4 col-lg-2 d-flex justify-content-center">
        <div class="fake-photo"></div>
      </div>
      <div class="col-6 col-md-4 col-lg-2 d-flex justify-content-center">
        <div class="fake-photo"></div>
      </div>
      <div class="col-6 col-md-4 col-lg-2 d-flex justify-content-center">
        <div class="fake-photo"></div>
      </div>
      <div class="col-6 col-md-4 col-lg-2 d-flex justify-content-center">
        <div class="fake-photo"></div>
      </div>
      <div class="col-6 col-md-4 col-lg-2 d-flex justify-content-center">
        <div class="fake-photo"></div>
      </div>
      <div class="col-6 col-md-4 col-lg-2 d-flex justify-content-center">
        <div class="fake-photo"></div>
      </div>
      <div class="col-6 col-md-4 col-lg-2 d-flex justify-content-center">
        <div class="fake-photo"></div>
      </div>
      <div class="col-6 col-md-4 col-lg-2 d-flex justify-content-center">
        <div class="fake-photo"></div>
      </div>
    </div>
  </div>
</div>
