<div class="banner">
  <div class="banner-content">
    <h1 class="text-center text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit</h1>
    <h2 class="text-center text-white">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </h2>
  </div>
</div>

<div class="container-lg mt-4">

  <div class="row">
    <%# Display cards %>
    <div class="col-12 col-md-8">
      <h1 class="text-green mb-4">Nos derniers articles</h1>

      <div class="home-cards">
        <div class="home-card">
          <div class="home-card-text">
            <h3 class="text-green">Lorem ipsum dolor sit amet</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do tempor incididunt ut labore et dolore magna aliqua.
              <br>
              Ut enim ad minim quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoconsequat.
              <br>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do tempor incididunt ut labore et dolore magna aliqua.
              <br>
              Ut enim ad minim quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoconsequat.
              <br>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do tempor incididunt ut labore et dolore magna aliqua.

          </div>
          <img src="<%= image_path 'plage.jpg' %>" class="home-card-image">
        </div>
        <div class="home-card">
          <div class="home-card-text">
            <h3 class="text-green">Lorem ipsum dolor sit amet</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoconsequat.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoconsequat.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
          <img src="<%= image_path 'dechets.jpg' %>" class="home-card-image">
        </div>
        <div class="home-card">
          <div class="home-card-text">
            <h3 class="text-green">Lorem ipsum dolor sit amet</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoconsequat.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoconsequat.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
          <img src="<%= image_path 'eoliennes.jpg' %>" class="home-card-image">
        </div>
      </div>
    </div>

    <%# Display right Panel %>
    <div class="col-12 col-md-4">
      <div class="right-panel">

        <form class="d-none d-md-flex mb-4" id="search-form">
          <input type="text" placeholder="Trouver un article" class='right-panel-input'>
          <button type="submit" form="search-form" class="btn btn-primary d-flex align-items-center">
            <%= image_tag "loupe.png", width: '20px' %>
          </button>
        </form>

        <div class="d-none d-md-block last-article">
          <h4 class="text-green">Lorem ipsum dolor</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoconsequat.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>

        <div class="newsletter my-0 my-sm-4">
          <h3 class="text-center text-green my-4">Lettre d'information</h3>
          <form class="d-flex mb-4" id="newsletter-form">
            <input type="text" placeholder="Votre adresse email" class='right-panel-input'>
            <button type="submit" form="newsletter-form" class="btn btn-primary">
              S'inscrire
            </button>
          </form>
        </div>

        <div class="social-medias text-center">
          <%= inline_svg_tag('facebook.svg') %>
          <%= inline_svg_tag('instagram.svg') %>
          <%= inline_svg_tag('twitter.svg') %>
        </div>
      </div>
    </div>
  </div>
</div>

<%# Display Instagram pictures %>
<div class="insta-container">
  <div class="container py-4">
    <h1 class="text-green mb-4">SoroSoro sur Instagram</h1>
    <div class="row justify-content-around">
      <div class="col-6 col-md-4 col-lg-2 d-flex justify-content-center">
        <div class="fake-photo"></div>
      </div>
      <div class="col-6 col-md-4 col-lg-2 d-flex justify-content-center">
        <div class="fake-photo"></div>
      </div>
      <div class="col-6 col-md-4 col-lg-2 d-flex justify-content-center">
        <div class="fake-photo"></div>
      </div>
      <div class="col-6 col-md-4 col-lg-2 d-flex justify-content-center">
        <div class="fake-photo"></div>
      </div>
      <div class="col-6 col-md-4 col-lg-2 d-flex justify-content-center">
        <div class="fake-photo"></div>
      </div>
      <div class="col-6 col-md-4 col-lg-2 d-flex justify-content-center">
        <div class="fake-photo"></div>
      </div>
      <div class="col-6 col-md-4 col-lg-2 d-flex justify-content-center">
        <div class="fake-photo"></div>
      </div>
      <div class="col-6 col-md-4 col-lg-2 d-flex justify-content-center">
        <div class="fake-photo"></div>
      </div>
      <div class="col-6 col-md-4 col-lg-2 d-flex justify-content-center">
        <div class="fake-photo"></div>
      </div>
      <div class="col-6 col-md-4 col-lg-2 d-flex justify-content-center">
        <div class="fake-photo"></div>
      </div>
      <div class="col-6 col-md-4 col-lg-2 d-flex justify-content-center">
        <div class="fake-photo"></div>
      </div>
      <div class="col-6 col-md-4 col-lg-2 d-flex justify-content-center">
        <div class="fake-photo"></div>
      </div>
    </div>
  </div>
</div>
