<p>Bonjour SoroSoro</p>

<p>
  <%= @first_name %> <%= @last_name %>
<br>
  vous envoie un message depuis votre blog.
</p>

<hr>

<p>
  Ses coordonnées
  <br>
  Prénom, NOM : <%= @first_name %> <%= @last_name %><br>
  email : <%= @email %>
</p>
<hr>
<p>
  Son message :
  <br>
  <%= @body %>
</p>
